$pm_color: #887979;
$fontFamily: Arial;
body {
  margin: 0 auto;
  padding: 20px;
  font-family: $fontFamily;
  }
p {
  font-size: 1.2em;
  color: $pm_color;
}
h1 {
  font-weight: 400;
  color: $pm_color;
}
span {
  font-size: 1.2em;
  color: $pm_color;
}